*.pyc
.ipynb_checkpoints
utils/*.c
utils/*.so
*.swp
*.swo
*.jpg
*.mat
fast_rcnn_models/*.caffemodel
*.tgz
models/CaffeNet/solver.prototxt.out
models/CaffeNet/test.prototxt.out
models/CaffeNet/train.prototxt.out
models/VGG16/solver.prototxt.out
models/VGG16/train.prototxt.out
